<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>What is your dog's name and breed?</h1>
    <form action="/dog" method="POST">
        <label for="name"> Dogs Name:</label>
        <input type="text" name="name">
        <label for="breed"> Breed Type:</label>
        <input type="text" name="breed">
        <input type="submit" value="submit">
    </form>
</body>
</html>

<!-- test to see if i commited underneath "Elijah" branch -->
<!-- Another test to see if its still underneath Elijah branch -->
<!-- test pt 100000 -->
<!-- again -->